.clearfix:after {
    content: '';
    height: 0;
    display: inline-block;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}

.clearfix:before,
.clearfix:after {
    /*清楚浮动*/
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /*IE/7/6*/
}